/* CSS external untuk diakses di menu view bagian body */
body {
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    padding: 10px;
}

/* css eksternal untuk bagian a */
a {
    color: white;
    text-decoration: none;
}

/* css eksternal untuk bagian a  hover */

a:hover {
    color: white;
    text-decoration: underline;
}

/* css eksternal untuk bagian class navbar di ul */
.navbar {
    display: flex;
    list-style-type: none;
}

/* css eksternal untuk bagian class navbar di ul dan a */
.navbar li a {
    padding: 10px;
    display: inline-block;
}

/* css eksternal untuk bagian class alert di component */
.alert {
    background: indigo;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.alert-header {
    background: khaki;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
